<button mat-raised-button *ngIf="!isChallenge" (click)="isChallenge = true" color="accent" id="toggle-challenge" class="challenge-button">Delcare a Movember Challenge!</button>

<mat-horizontal-stepper *ngIf="isChallenge" #stepper="matHorizontalStepper">
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Choose a challenge stache</ng-template>
      <mat-button-toggle-group #group="matButtonToggleGroup">
        <mat-button-toggle value="Fu-Manchu">
          <img class="img-responsive" src="assets/images/fu-manchu.png">
        </mat-button-toggle>
        <mat-button-toggle value="Handlebar">
          <img class="img-responsive" src="assets/images/handlebar.png">
        </mat-button-toggle>
        <mat-button-toggle value="Horseshoe">
          <img class="img-responsive" src="assets/images/horseshoe_transparent.png">
        </mat-button-toggle>
        <!-- <mat-button-toggle value="paintersbrush">
          <img class="img-responsive" src="assets/images/paintersbrush.png">
        </mat-button-toggle>
        <mat-button-toggle value="toothbrush">
          <img class="img-responsive" src="assets/images/toothbrush.png">
        </mat-button-toggle>
        <mat-button-toggle value="pencil">
          <img class="img-responsive" src="assets/images/pencil.png">
        </mat-button-toggle>
        <mat-button-toggle value="lampshade">
          <img class="img-responsive" src="assets/images/lampshade.png">
        </mat-button-toggle>
        <mat-button-toggle value="horseshoe">
          <img class="img-responsive" src="assets/images/horseshoe.png">
        </mat-button-toggle>
        <mat-button-toggle value="pencil">
          <img class="img-responsive" src="assets/images/pencil.png">
        </mat-button-toggle>
        <mat-button-toggle value="toothbrush">
          <img class="img-responsive" src="assets/images/toothbrush.png">
        </mat-button-toggle> -->
      </mat-button-toggle-group>
      <div class="example-selected-value">Selected value: {{group.value}}</div>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Dollar Amount to Challenge</ng-template>
      <mat-form-field>
        <input matInput placeholder="Challenge Amount ($)" formControlName="secondCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="thirdFormGroup">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Email Address to Challenge</ng-template>
      <mat-form-field>
        <input matInput placeholder="Email to Challenge" formControlName="thirdCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Submit Your Challenge</button>
      </div>
    </form>
  </mat-step>
</mat-horizontal-stepper>